.vs/Win32Project/v15/ipch/AutoPCH/WIN32PROJECT-27ea3bd9/VECTOR-5fadb9f9/VECTOR.ipch
.vs/Win32Project/v15/ipch/AutoPCH/WIN32PROJECT-27ea3bd9/PLAYER-3f64a305/PLAYER.ipch
.vs/Win32Project/v15/ipch/AutoPCH/WIN32PROJECT-27ea3bd9/MODEL-40f51eb1/MODEL.ipch
.vs/Win32Project/v15/Browse.VC.db
.vs/Win32Project/v15/.suo
